---
import "./designed.css";
---

<section
  class="designed"
  style="background-image: url('images/sc-design-bg.webp')"
>
  <div class="container designed__inner text-center">
    <div class="designed__content">
      <h2 class="designed__title">Kick’s<br /> Scooter</h2>
      <div class="text-content designed__text">
        <p>
          Designed in a minimal yet versatile form to solve the current safety
          and usability problems.
        </p>
      </div>
    </div>
  </div>
</section>
